---
import { getCollection } from "astro:content";
import BaseLayout from "@src/layouts/BaseLayout.astro";
import MarkdownEntry from "@src/components/MarkdownEntry.astro";
import HomepageLink from "@src/components/HomepageLink.astro";
import Heading1 from "@src/components/content/Heading1.astro";

export async function getStaticPaths() {
  const blogEntries = (await getCollection("posts")) || [];
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { title, date, description } = entry.data;
const dateFormatted = date.toLocaleDateString("en-GB", { dateStyle: "long" });
const dateYMD = date.toISOString().split("T")[0];
---

<BaseLayout {title} {description}>
  <div class="max-w-xl mx-auto">
    <HomepageLink />
    <article>
      <Heading1>{title}</Heading1>
      <p class="text-md text-stone-500 mt-[-0.5rem]">
        <time datetime={dateYMD}>{dateFormatted}</time>
      </p>
      <MarkdownEntry {entry} />
    </article>
  </div>
</BaseLayout>
