---
import { Image } from "astro:assets";
const getIcon = async (name) =>
  (await import(`../images/icons/${name}.svg`)).default;

const { title, url } = Astro.props;
const icon = await getIcon(Astro.props.icon);

const classNames = [
  "underline",
  "underline-offset-4",
  "font-medium",
  "text-xl",

  // Light mode
  "text-cyan-700",
  "hover:text-black",
  "hover:bg-yellow-400",
  "focus:text-black",
  "focus:bg-yellow-400",

  // Dark mode
  "dark:text-cyan-400",
  "dark:hover:text-black",
  "dark:focus:text-black",

  // Flexbox layout
  "flex",
  "gap-2",
  "items-center",
];
---

<a href={url} class:list={classNames}>
  <Image src={icon} alt="" class="w-8" />
  {title}
</a>
